name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable

      - name: Test 1 Default (no_std + no_alloc)
        run: cargo test 

      - name: Test 2 Alloc (no_std + alloc)
        run: cargo test --features alloc

      - name: Test 3 STD (std + alloc)
        run: cargo test --features std
