name: Rust CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build

    - name: Run Tests (no_std + no_alloc)
      run: cargo test --no-default-features

    - name: Run Tests (no_std + alloc)
      # This explicitly tests the `no_std` + `alloc` target
      run: cargo test --no-default-features --features alloc

    - name: Run Tests (std + alloc)
      # This tests the full `std` target
      run: cargo test --features std

    - name: Lint and Format (Optional)
      run: |
        cargo fmt --check
        cargo clippy --all-targets --all-features -- -D warnings
